<!-- Category 1 -->
<div class="card mb-3">
  <div class="card-header bg-primary text-white">
    <h3 id="cat-qa">Q & A's</h3>
  </div>
  <div class="card-body">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://picsum.photos/400/200" alt="Article Image" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Title of Article</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Duis sed laoreet magna. Pellentesque tincidunt,
              turpis at rhoncus commodo, ante quam ullamcorper dui, quis
              volutpat turpis magna ac lacus.</p>
            <div>
              <button class="btn btn-sm btn-secondary">Like</button>
              <button class="btn btn-sm btn-secondary">Share</button>
              <span class="bg-primary text-white">by username, Jan 1 2022,
                10:00am</span>
            </div>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Category 2 -->
<div class="card mb-3">
  <div class="card-header bg-primary text-white">
    <h3 id="cat-scm">Share - Collaborate - Mentor</h3>
  </div>
  <div class="card-body">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://picsum.photos/400/200" alt="Article Image" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Title of Article</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Duis sed laoreet magna. Pellentesque tincidunt,
              turpis at rhoncus commodo, ante quam ullamcorper dui, quis
              volutpat turpis magna ac lacus.</p>
            <div>
              <button class="btn btn-sm btn-secondary">Like</button>

              <button class="btn btn-sm btn-secondary">Share</button>
              <span class="bg-primary text-white">by username, Jan 1 2022,
                10:00am</span>
            </div>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Category 3--><div class="card mb-3">
  <div class="card-header bg-primary text-white">
    <h3 id="cat-how">How To's</h3>
  </div>
  <div class="card-body">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            id="img-how"
            src="https://picsum.photos/400/200"
            alt="Article Image"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 id="title-how" class="card-title">Title of Article</h5>
            <p id="text-how" class="card-text">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Duis sed laoreet magna. Pellentesque
              tincidunt, turpis at rhoncus commodo, ante quam ullamcorper dui,
              quis volutpat turpis magna ac lacus.</p>
            <div>
              <button id="like-how" class="btn btn-sm btn-secondary"><i
                  class="bi bi-hand-thumbs-up"
                ></i>
                Like</button>

              <button id="share-how" class="btn btn-sm btn-secondary"><i
                  class="bi bi-share"
                ></i>
                Share</button>
              <span id="stamp-how" class="bg-primary text-white">by username,
                Jan 1 2022, 10:00am</span>
            </div>
            <a id="read-how" href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>