<div class="card mb-3">
  <div class="card-header bg-primary text-white">
    <h3 id="logout-header">Successfully Logged Out</h3>
  </div>
  <div class="card-body">
    <p id="logout-message" class="card-text">You have been successfully logged
      out.</p>
  </div>
</div>