<form action="/posting" method="get">
  <div class="card-footer">
    <button type="submit" id="new-post-btn" class="btn btn-primary">New Post
      <span class="fw-bold">+</span></button>
  </div>
</form>