<div class="card mb-3">
  <div class="card-header bg-primary text-white">
    <h3 id="post-user" class="card-header m-1">
      <span class="text-dark">Posted By:</span>
      <span class="text-warning">{{post.username}}</span>
    </h3>
    <h3 id="post-title">
      <span class="text-dark">Title:</span>
      <span class="text-warning">{{post.title}}</span>
    </h3>
  </div>
  <div class="card-body">
    <p id="post-content" class="card-text text-white fs-5">Content:</p>
    <textarea
      readonly
      class="form-control bg-dark text-light mb-3"
      id="post-content-input"
      name="post-content-input"
      rows="3"
      required
    >{{post.content}}</textarea>
    <div id="comments-section">
      <h4 class="mt-3">Comments</h4>
      {{#each post.comments}}
        <div class="comment card mb-2">
          <div class="card-body">
            <p class="card-text comment-content fs-6">{{this}}</p>
          </div>
        </div>
      {{/each}}
      <form id="comment-form">
        <div class="mb-3">
          <label for="comment-input" class="form-label">Add a Comment</label>
          <textarea
            class="form-control"
            id="comment-input"
            name="comment-input"
            rows="3"
            required
          ></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Add Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>