<div>
  <h1>
    <span class="text-primary code">res.ok</span>
    <span class="text-danger code">?</span>
    <span class="text-success code">TechyTimeBlog</span>
    <span class="text-danger code">:</span>
    <span class="text-warning code">urNull</span>
    <span class="text-info code">;</span>
  </h1>
  <hr class="my-4" />
  <h2>Login or SignUp</h2>
  {{> signlog}}
</div>